body {
    margin: 0;
    background: rgb(255, 255, 0);
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 10px;
}

.galery-item {
    position: relative;
    margin: 20px;
    border: 5px solid rgb(240, 0, 0);
    background: rgb(255, 255, 255);
    display: inline-block;
    min-width: 50px;
    min-height: 50px;
    border-radius: 10px;
}

.galery-item:hover,
.galery-item:focus,
button:hover {
    border: 5px solid rgb(0, 0, 0);
    background: rgb(240, 0, 0);
}

.remove:hover {
    border: 1px solid rgb(0, 0, 0);
    background: rgb(255, 255, 0);
    border-radius: 10px;
}

.galery-item-content {
    border-radius: 5px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    border: 5px solid rgb(240, 0, 0);
    border-style: dotted;
}

.highlighted,
.highlighted:focus {
    border: thick solid #0000FF;
    background-color: green;
    font-weight: bold;
    font-size: large;
}

button {
    background-color: green;
    border: 5px solid rgb(240, 0, 0);
    border-radius: 10px;
    margin: 30px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

span.highlighted{
     background-color: red;
      border-radius: 10px;
}

span {
    cursor: default;
}
