<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="blocksApp">
        <button id="button" type="button">Add new block!</button>
        <div id="container" class="container">
        </div>
    </div>

    <script type="text/template" id="item-template">
        <div class="galery-item-status" id="<%- index %>">
            <div class="galery-item-content">
                <span class="<%= highlighted ? 'highlighted' : '' %>"><%- index %></span>
                <div class="remove">x</div>
            </div>
        </div>
    </script>

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/underscore.min.js"></script>
    <script src="js/lib/backbone.min.js"></script>
    <script src="js/lib/backbone.localStorage-min.js"></script>
    <script src="js/models/blockModel.js"></script>
    <script src="js/collections/blocksCollection.js"></script>
    <script src="js/views/blockView.js"></script>

    <script src="js/views/blocksView.js">
        // TODO
    </script>
    <script src="js/backboneApp.js"></script>

    <!--<script src="js/app.js"></script>-->

</body>

</html>
