<div class="galery-item-content row">
    <div class="col-sm-6">
        <div class="card w-50">
            <div class="card-block">
                <h4 class="card-title">City name: <%- sys.country %> - <%- name %>
                
                <% var rainValue = !$.isEmptyObject(this['rain']) ? (this['rain'].hasOwnProperty('3h') ? rain['3h'] : "NA") : "NA"; %>
                <% var snowValue = !$.isEmptyObject(this['snow']) ? (this['snow'].hasOwnProperty('3h') ? snow['3h'] : "NA") : "NA"; %>
                
                <img src="http://openweathermap.org/img/w/<%- weather[0].icon %>.png" data-placement="top" data-toggle="tooltip" title="rain: <%= rainValue%> mm, snow:<%= snowValue%> mm">
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">Current weather situation</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Clouds: <%- clouds.all %>, [%]; 
                                                Description: <%- weather[0].main ? weather[0].main : 'NA' %>, 
                                                        <%- weather[0].description ?  weather[0].description : 'NA' %>
                    </li>
                    <li class="list-group-item">Temperature: <%- main.temp ? main.temp : 'NA' %>, [°C]</li>
                    <li class="list-group-item">Pressure: <%- main.pressure ? main.pressure : 'NA' %>, [hPa]</li>
                    <li class="list-group-item">Humidity: <%- main.humidity ? main.humidity : 'NA' %>, [%]</li>
                    <li class="list-group-item">Wind speed: <%- wind.speed ? wind.speed : 'NA' %>, [meter/sec]</li>
                    <li class="list-group-item">Wind degree: <%- wind.deg ? wind.deg : 'NA' %>, degrees (meteorological)</li>
                    <li class="list-group-item">Sunrise: <%- sys.sunrise ? sys.sunrise : 'NA' %></li>
                    <li class="list-group-item">Sunset: <%- sys.sunset ? sys.sunset : 'NA' %></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card w-50">
            <div id="map" class="card-block"></div>
        </div>
    </div>
</div>